### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Build / Target ###
target/
build/


# 1. Ігнорувати все в корені
/*

# 2. Дозволити службові файли та папки лаб/домашок
!/.gitignore
!/README.md
!/HW/
!/Labs/

# 3. Дозволити папки src будь-де в проєкті
!**/src/**